.buttonContainer {  
  display: flex;
  flex-direction: row; /* opcional, já é o padrão */
  justify-content: center;
  align-items: center;  /* alinha verticalmente */
  gap: 220px;            /* espaço entre os itens */
  margin-top: 20px;
}