.BackButton{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 400px;
  padding-bottom: 5px;
  text-decoration: none;
}

.BackButton img {
  margin-right: 8px;
}

.BackButtonText {
  font-size: 16px;
  color: #5061FC;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
}
